fastapi
uvicorn
sqlalchemy
pymysql
pymilvus
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
chromadb
python-docx
markdown
sentence-transformers
pyyaml
python-dotenv
streamlit
pytest
pypdf